@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

html, body{
  @apply overflow-x-hidden
}

  body{
    @apply relative text-white bg-[#141414]
  }

  nav {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
}

}

@layer components {
  .login_bg_gradient{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 60%, rgba(0, 0, 0, .8)), url(/LoginBG6.jpg);
  }

  .headerLink{
    @apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3]
  }

  .bannerButton {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }

}

:root {
    --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
    --orange: #fca61f;
    --black: #000;
    --gray: #becbe6;
    --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
    --pink: #073ff854;
    --glass: rgba(255, 255, 255, 0.2);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 50%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.3); 
    --activeItem: #073ff854;
  }


.admin {
  color: var(#becbe6); /* Adjusted text color for better readability on dark background */
  background: linear-gradient(
    106.37deg,
    #2c2c2c 29.63%, /* Darker background color */
    #1c1c1c 51.55%, /* Darker background color */
    #111111 90.85% /* Darker background color */
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.AppGlass {
  display: grid;
  grid-template-columns: 11rem auto 20rem;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }
}
